<div class="panel-heading">
    <h4 class="panel-title">Users</h4>
</div>
<div class="panel-body">
{INDEX_DEPART_USER_HEADER}
    <form id="departuserform" class="form-horizontal" role="form">
{INDEX_DEPART_USER}
        <hr>
        <div class="form-group"> 
            <div class="col-sm-10">
                <button id = "createGroup" type="button" class="btn btn-default">Create a Group</button>
            </div>
        </div>
        
        
        <div class="form-group"> 
            <div class="col-sm-10">
                <button id = "addtoGroup" type="button" class="btn btn-default">Add to Group</button>
            </div>
        </div>

        <div class="form-group"> 
            <div class="col-sm-10">
                <button id = "editGroup" type="button" class="btn btn-default">Edit Group Member</button>
            </div>
        </div>
        
        
    </form>
</div>