<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <title>Login Main Page</title>
        <link href="header_footer.css" rel='stylesheet' type='text/css' />
        <link href="signup.css" rel='stylesheet' type='text/css' />
        <link href="../../jquery/jquery-ui.min.css" rel='stylesheet' type='text/css' />
        <script src="../../jquery/jquery.js"></script>
        <script src="../../jquery/jquery-ui.min.js"></script>
        <script>
          $(function() {
            $( "#navigation" ).tabs();
          });
        </script>
    </head>
    <body>
        <div id="index_header">
            <header>
                <a href="main.html"><img src="../login/Dis_pic1.png" alt="DISCUSSION" height=100% width=30%/></a>
            </header>
        </div>
        
        <div id="navigation">
          <ul>
            <li><a href="#nav-1">Nunc tincidunt</a></li>
            <li><a href="#nav-2">Proin dolor</a></li>
            <li><a href="#nav-3">Aenean lacinia</a></li>
          </ul>
          <div id="nav-1">
            <p>tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.</p>
          </div>
          <div id="nav-2">
            <p>Mauris consectetur tortor et purus.</p>
          </div>
          <div id="nav-3">
            <p>pretium nec, feugiat nec, luctus a, lacus.</p>
            <p> hendrerit.</p>
          </div>
        </div>
        
        
        <div id="index_footer">
            <footer>
                <p> Project: Discussion System<br/>
                    Instructor: Steven Gabarró<br/>
                    Project Members: Jheng-Sian You, Xuanyu Liu, Shicong Huang</p>    
            </footer>
        </div>
            
    </body>