<script>
function createGroup(event) {
    $("#groupModal").modal("show");
}
    
function addtoGroup(event) {
    $("#addtogroupModal").modal("show");
}
    
function editGroup(event) {
    $("#editgroupModal").modal("show");
}

function openDepartment(event) {
    event.preventDefault();
    departID = $(this).attr("value");
    if (departID == "previous") {
        departID = parentStack.pop();
    } else {
        if (parentStack.length == 0)
            parentStack.push(1);
        else
            parentStack.push(previousID);
        previousID = departID;
    }
    
    $.post("ajax_get_depart_user.php",
           {"departid" : departID},
           function(data) {
               $("#departuserpanel").html(data);
               if ($("#departuserform div a").length > 0)
                   $("#departuserform div a").click(openDepartment);
               if ($("#previousdepart").length > 0)
                   $("#previousdepart").click(openDepartment);
               if ($("#departuserform input[type=\"checkbox\"]").length > 0) {
                   $("#departuserform input[type=\"checkbox\"]").change(changeCheckbox);
                   $("#departuserform input[type=\"checkbox\"]").each(verifyChecked);
               }
               $("#departalert").click(closeAlert);
               $("#createGroup").click(createGroup);
           },
           "text"
    );
}

function changeCheckbox(event) {
    var changedBox = $(this);
    var userID = changedBox.val();
    if(changedBox.prop("checked"))
        checkedUser.push(userID);
    else {
        var index = checkedUser.indexOf(userID);
        checkedUser.splice(index, 1);
    }
}
function verifyChecked() {
    var userID = $(this).val();
    var index = checkedUser.indexOf(userID);
    if (index != -1)
        $(this).prop("checked", true);
}

function closeAlert(event) {
    event.preventDefault();
    $("#newgrouperror").addClass("hide");
    $("#addtogrouperror").addClass("hide");
    $("#editgrouperror").addClass("hide");
    
}

function closeCommentAlert(event) {
    event.preventDefault();
    $("#commenterror").addClass("hide");
}
    
function submitNewGroup(event) {
    event.preventDefault();
    var groupName = $("#groupName");
    
    $.post("ajax_create_group.php",
          { "groupmember" : checkedUser,
            "groupname" : groupName.val()},
           function(data) {
               if (data.hasOwnProperty("url")) {
                   window.location.href = data.url;
               }
               if (data.success) {
                   window.location.href = "index.php";
               } else {
                   $("#newgrouperror").html(errorOriginHtml + " " + data.message)
                              .removeClass("hide");
                   $("#newgroupalert").click(closeAlert);
               }
           },
           "json"
    );
}
    
    
function submitAddToGroup(event) {
    event.preventDefault();
    var groupid = $(this).find("select").val();
    
    $.post("ajax_change_group_member.php",
          { "groupid" : groupid,
            "adduserid" : checkedUser},
           function(data) {
               if (data.hasOwnProperty("url")) {
                   window.location.href = data.url;
               }
               if (data.success) {
                   window.location.href = "index.php";
               } else {
                   $("#addtogrouperror").html(addtoErrOriginHtml + " " + data.message)
                              .removeClass("hide");
                   $("#addtogroupalert").click(closeAlert);
               }
           },
           "json"
    );
}    
    
function submitEditGroup(event) {
    event.preventDefault();
    var groupid = $(this).find("select").val();
    var checkbox = document.getElementsByName("groupmembercheckbox");
    var checkedArr = [];
    for (var k in checkbox) {
        if (checkbox[k].checked == true)
            checkedArr.push(checkbox[k].value);
    }
    
    $.post("ajax_edit_group_member.php",
          { "groupid" : groupid,
            "checkedbox" : checkedArr},
           function(data) {
               if (data.hasOwnProperty("url")) {
                   window.location.href = data.url;
               }
               if (data.success) {
                   window.location.href = "index.php";
               } else {
                   $("#editgrouperror").html(addtoErrOriginHtml + " " + data.message)
                              .removeClass("hide");
                   $("#editgroupalert").click(closeAlert);
               }
           },
           "json"
    );
        
}
    
function getGroupMember(event) {
    var groupid = $(this).val();
    
    $.post("ajax_get_group_member.php",
          { "groupid" : groupid},
           function(data) {
                $("#groupmemberchecklist").html(oriGroupMemberHtml + data);
           },
           "text"
    );
}
    
    
function switchTab(event) {
    event.preventDefault();
    var activeID = $(this).attr("value");
    $(this).siblings().removeClass("active");
    $(this).addClass("active");
    
    $("#commenttext").addClass("hide");
    $("#commentfile").addClass("hide");
    $("#commentlink").addClass("hide");
    
    $("#" + activeID).removeClass("hide");
}
    
    
function submitPost(content, groupid, messagetype) {
    $.post("ajax_post.php",
          { "groupid" : groupid,
            "messagetype" : messagetype,
            "content" : content},
           function(data) {
               if (data.hasOwnProperty("url")) {
                   window.location.href = data.url;
               }
               if (data.success) {
                   window.location.href = "index.php";
               } else {
                   $("#commenterror").html(commentErrorHtml + " " + data.message)
                              .removeClass("hide");
                   $("#commentalert").click(closeCommentAlert);
               }
           },
           "json"
    );
}
    
function submitTextPost(event) {
    event.preventDefault();
    var content = $("#commenttextarea").val();
    var groupid = $("#" + lastID).attr("value");
    var messagetype = "1";
    
    submitPost(content, groupid, messagetype);
}
    
function submitLinkPost(event) {
    event.preventDefault();
    var content = $("#commentlinkcontent").val();
    var groupid = $("#" + lastID).attr("value");
    var messagetype = "4";
    submitPost(content, groupid, messagetype)
}
    
function submitFilePost(event) {
    event.preventDefault();
    var groupid = $("#" + lastID).attr("value");
    var formData = new FormData(document.getElementById("commentfile"));
    formData.append("groupid", groupid);
    $.ajax({
        url: 'ajax_upload_file.php',
        type: 'post',
        success: function(data) {
            if (data.hasOwnProperty("url")) {
               window.location.href = data.url;
           }
           if (data.success) {
               window.location.href = "index.php";
           } else {
               
               $("#commenterror").html(commentErrorHtml + " " + data.message)
                          .removeClass("hide");
               
               $("#commentalert").click(closeCommentAlert);
           }
        },
        data: formData,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false
    });
}

$(document).ready(function() {
    lastID = "listitem1";
    $(".list-group-item").click(function(event) {
        event.preventDefault();
        
        thisID = $(this).attr("id");

        $("#" + lastID).removeClass("active");
        $(this).addClass("active");

        $("#pageheader").text($(this).text());
        $("#div" + lastID).addClass("hide");

        $("#div" + thisID).removeClass("hide");
        lastID = thisID;

    }); 
    
    
    $("#createGroup").click(createGroup);
    $("#addtoGroup").click(addtoGroup);
    $("#editGroup").click(editGroup);
    
    
    
    $("#departuserform div a").click(openDepartment);
    $("#departuserform input[type=\"checkbox\"]").change(changeCheckbox);
    
    
    $("#newgroupalert").click(closeAlert);
    $("#addtogroupalert").click(closeAlert);
    $("#editgroupalert").click(closeAlert);
    
    $("#newgroupform").submit(submitNewGroup);
    $("#addtogroupform").submit(submitAddToGroup);
    $("#editgroupform").submit(submitEditGroup);
    
    $("#editgroupform select").change(getGroupMember);
    oriGroupMemberHtml = $("#groupmemberchecklist").html();
    
    
    $("#commenttab").children().click(switchTab);
    $("#commenttext").submit(submitTextPost);
    $("#commentlink").submit(submitLinkPost);
    $("#commentfile").submit(submitFilePost);
    $("#commentalert").click(closeCommentAlert);
    
    
    
    parentStack = [];
    checkedUser = [];
    errorOriginHtml = $("#newgrouperror").html();
    addtoErrOriginHtml = $("#addtogrouperror").html();
    editErrOriginHtml = $("#editgrouperror").html();
    commentErrorHtml = $("#commenterror").html();
});
</script>