<script>
function openDepartment(event) {
    event.preventDefault();
    departID = $(this).attr("id");
    if (departID == "previous") {
        departID = parentStack.pop();
        
    } else {
        if (parentStack.length == 0)
            parentStack.push(1);
        else
            parentStack.push(previousID);
        previousID = departID;
    }
    
    $.post("ajax_get_depart_user.php",
           {"departid" : departID},
           function(data) {
               $("#departuserpanel").html(data);
               $("#departuserform div a").click(openDepartment);
               if ($("#previous").length > 0) {
                   $("#previous").click(openDepartment);
               }
               $("#createGroup").click(function() {
                   $("#groupModal").modal("show");
                   return false;
               });
           },
           "text"
    );
}
$(document).ready(function() {
    $("#createGroup").click(function() {
        $("#groupModal").modal("show");
        return false;
    });
    
    $("#departuserform div a").click(openDepartment);
    
    parentStack = [];
});
</script>