<script>
function verify(event) {
    event.preventDefault();
    
    var username = $("#username");
    var password = $("#password");
            
    $.post("ajax_login.php",
          { "username" : username.val(),
            "password" : password.val() },
           function(data) {
               if (data.hasOwnProperty("url")) {
                   window.location.href = data.url;
               }
               if (data.success) {
                   window.location.href = "index.php";
               } else {
                   $("#error").html(errorOriginHtml + " " + data.message)
                              .removeClass("hide");
                   $("#alert").click(function() {
                       $("#error").addClass("hide");
                   });
               }
           },
           "json"
    );
    
}

$(document).ready(function() {
    $("#loginform").submit(verify);
    errorOriginHtml = $("#error").html();
});
</script>