{WEB_HEADER}
{WEB_NAV}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-push-4">
            <div class="page-header">
                <h1 id="pageheader">My Profile</h1>
            </div>
        </div>
    </div>
    
	<div class="row">
		<div id="error" class="col-sm-8 col-sm-push-4 alert alert-danger fade in hide">
            <a href="#" class="close" id="alerterror">&times;</a>
            <strong>Error!</strong>
        </div>
		<div id="success" class="col-sm-8 col-sm-push-4 alert alert-success fade in hide">
            <a href="#" class="close" id="alertsuccess">&times;</a>
            <strong>Success!</strong>
        </div>
	</div>
	
    <div class="row">
        <div class="col-sm-4">
            <!-- list group -->
            <div class="list-group margin-b-3">
                <a href="#" class="active list-group-item" id="listitem1">My Profile</a>
                <a href="#" class="list-group-item" id="listitem2">Password</a>
                <a href="#" class="list-group-item" id="listitem3">Group</a>
                <a href="#" class="list-group-item" id="listitem4">Department</a>
                <a href="#" class="list-group-item" id="listitem5">User</a>
                <a href="#" class="list-group-item" id="listitem6">Record</a>
            </div>
        </div>
{SETTINGS_PROFILE}
        <div class="col-sm-8 hide" id="divlistitem2">
            
            
                <form id="changepwform" class="form-horizontal" role="form">
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="password">Password:</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="password" placeholder="Enter password">
                    </div>
                  </div><div class="form-group">
                    <label class="control-label col-sm-3" for="newpassword">New Password:</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="newpassword" placeholder="Enter password">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-sm-3" for="confirmpw">Confirm Password:</label>
                    <div class="col-sm-9">
                      <input type="password" class="form-control" id="confirmpw" placeholder="Enter password">
                    </div>
                  </div>
                  <div class="form-group"> 
                    <div class="col-sm-offset-3 col-sm-10">
                      <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                  </div>
                </form>
            
            
        
        </div>
{SETTINGS_GROUP}
{SETTINGS_DEPARTMENT}
{SETTINGS_USER}
{SETTINGS_RECORD} 
        
    </div>
{WEB_FOOTER}
</div>