<div class="col-sm-8 hide" id="div3">
    <div class="well">
        <h4 class="margin-t-0">Search</h4>
        <form action="#">
            <div class="input-group">
                <label class="sr-only" for="search-form">Search the site</label>
                <input type="text" class="form-control" id="search-form">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="sr-only">Search</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Group Name</th>
        <th>Group Owner</th>
        <th>Group Status</th>
      </tr>
    </thead>
    <tbody>
{SETTINGS_GROUP_TR}
    </tbody>
  </table>
</div>