<script>  

function switchTab(event) {
    event.preventDefault();
    var activeID = $(this).attr("value");
    $(this).siblings().removeClass("active");
    $(this).addClass("active");
    
    $("#departmentcreate").addClass("hide");
    $("#departmentedit").addClass("hide");
    
    $("#" + activeID).removeClass("hide");
}    

function changepw(event) {
	event.preventDefault();
	
	var password = $("#password");
	var newpassword = $("#newpassword");
	var confirmpw = $("#confirmpw");
	
	$.post("ajax_change_pw.php", 
		{"password": password.val(),
		 "newpassword": newpassword.val(),
		 "confirmpw": confirmpw.val()},
		function(data) {
			if(data.hasOwnProperty("url")) {
				window.location.href = data.url;
			}
			if(data.success) {
				$("#success").html(successOriginHtml + " " + data.message)
				             .removeClass("hide");
				$("#alertsuccess").click(function(){
					$("#success").addClass("hide");
				});
			}else{
				$("#error").html(errorOriginHtml + " " + data.message)
							.removeClass("hide");
				$("#alerterror").click(function(){
					$("#error").addClass("hide");
				});
			}
		},
		"json"
	);	
}

function changeprofile(event) {
	event.preventDefault();
	
    
    var formData = new FormData();
    formData.append("uploadphoto", document.getElementById("uploadphoto").files[0]);
    
    var departmentid = $(this).find("select").val();
	var profile_firstname = $("#profile_firstname");
	var profile_lastname = $("#profile_lastname");
	var sexm = $("#sexm");
	var sexf = $("#sexf");
	var sex;
	if (sexm.prop("checked"))
		sex = sexm;
	else
		sex = sexf;
	
    
    formData.append("profile_firstname", profile_firstname.val());
    formData.append("profile_lastname", profile_lastname.val());
    formData.append("sex", sex.val());
    formData.append("departmentid", departmentid);
    
    
    $.ajax({
        url: 'ajax_change_profile.php?XDEBUG_SESSION_START=xdebug',
        type: 'post',
        success: function(data) {
            if (data.hasOwnProperty("url")) {
               window.location.href = data.url;
           }
           if (data.success) {
               $("#success").html(successOriginHtml + " " + data.message)
				             .removeClass("hide");
				$("#alertsuccess").click(function(){
					$("#success").addClass("hide");
				});
           } else {
               $("#error").html(errorOriginHtml + " " + data.message)
							.removeClass("hide");
				$("#alerterror").click(function(){
					$("#error").addClass("hide");
				});
           }
        },
        data: formData,
        dataType: "json",
        cache: false,
        contentType: false,
        processData: false
    });
    
}
    
function changegroup(event) {
    event.preventDefault();
    var newstatus = $(this).attr("value");
    var groupid = $(this).parent().parent().attr("value");
    clickedGroup = $(this);
    
    
    $.post("ajax_change_group_status.php", 
		{"groupid": groupid,
		 "newstatus": newstatus},
		function(data) {
			if(data.hasOwnProperty("url")) {
				window.location.href = data.url;
			}
			if(data.success) {
                var oldValue = clickedGroup.attr("value");
                var buttonEle = clickedGroup.parent().parent().prev();
                if (oldValue == "1") {
                    clickedGroup.attr("value", "2");
                    clickedGroup.text("Blocked");
                    buttonEle.html("Activated" + " <span class=\"caret\"></span>");
                } else if (oldValue == "2") {
                    clickedGroup.attr("value", "1");
                    clickedGroup.text("Activated");
                    buttonEle.html("Blocked" + " <span class=\"caret\"></span>");
                } else if (oldValue == "3") {
                    buttonEle.parent().parent().parent().remove();
                }
				$("#success").html(successOriginHtml + " " + data.message)
				             .removeClass("hide");
				$("#alertsuccess").click(function(){
					$("#success").addClass("hide");
				});
			}else{
				$("#error").html(errorOriginHtml + " " + data.message)
							.removeClass("hide");
				$("#alerterror").click(function(){
					$("#error").addClass("hide");
				});
			}
		},
		"json"
	);
    
}

function chanUserRole(event) {
    event.preventDefault();
    var newrole = $(this).attr("value");
    var userid = $(this).parent().parent().attr("value");
    clickedRole = $(this);
    
    
    $.post("ajax_change_role.php", 
		{"userid": userid,
		 "newrole": newrole},
		function(data) {
			if(data.hasOwnProperty("url")) {
				window.location.href = data.url;
			}
			if(data.success) {
               // var oldValue = clickedRole.attr("value");
                var buttonEle = clickedRole.parent().parent().prev();
                var buttonTxt = clickedRole.text();
                buttonEle.html(buttonTxt + " <span class=\"caret\"></span>");
                
                
				$("#success").html(successOriginHtml + " " + data.message)
				             .removeClass("hide");
				$("#alertsuccess").click(function(){
					$("#success").addClass("hide");
				});
			}else{
				$("#error").html(errorOriginHtml + " " + data.message)
							.removeClass("hide");
				$("#alerterror").click(function(){
					$("#error").addClass("hide");
				});
			}
		},
		"json"
	);   
}

function createDepart(event) {
    event.preventDefault();
    var parentid = $(this).find("select").val();
    var departname = $(this).find("input").val();
    
    $.post("ajax_change_department.php", 
		{"parentid": parentid,
		 "departmentname": departname},
		function(data) {
			if(data.hasOwnProperty("url")) {
				window.location.href = data.url;
			}
			if(data.success) {
				window.location.href = "settings.php";
			}else{
				$("#error").html(errorOriginHtml + " " + data.message)
							.removeClass("hide");
				$("#alerterror").click(function(){
					$("#error").addClass("hide");
				});
			}
		},
		"json"
	);	
}
    
function editDepart(event) {
    event.preventDefault();
    
    var departid = $(this).find("select").val();
    var departname = $(this).find("input").val();
    
    $.post("ajax_change_department.php", 
		{"departmentid": departid,
		 "departmentname": departname},
		function(data) {
			if(data.hasOwnProperty("url")) {
				window.location.href = data.url;
			}
			if(data.success) {
				window.location.href = "settings.php";
			}else{
				$("#error").html(errorOriginHtml + " " + data.message)
							.removeClass("hide");
				$("#alerterror").click(function(){
					$("#error").addClass("hide");
				});
			}
		},
		"json"
	);
}
$(document).ready(function() {
   errorOriginHtml = $("#error").html();
   successOriginHtml = $("#success").html();
   lastID = "listitem1";
   $(".list-group-item").click(function() {
       thisID = $(this).attr("id");
       
       $("#" + lastID).removeClass("active");
       $(this).addClass("active");
       
       $("#pageheader").text($(this).text());
       $("#div" + lastID).addClass("hide");
       
       $("#div" + thisID).removeClass("hide");
       lastID = thisID;
	   
   }); 
   
	$("#changepwform").submit(changepw);
	$("#profileform").submit(changeprofile);
    $("#divlistitem4 ul li").click(switchTab);
    $("#grouptable li a").click(changegroup);
	
    $("#departmentcreate").submit(createDepart);
    $("#departmentedit").submit(editDepart);
    $("#userroletable li a").click(chanUserRole);
    
});
</script>