<td>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{SETTINGS_USER_TD_CURR_ROLE_STATUS}
        <span class="caret"></span></button>
        <ul class="dropdown-menu" value="{SETTING_USER_TD_USERID}">
            {SETTINGS_USER_TD_ROOT}
            <li><a href="#" value="{SETTINGS_USER_TD_CHAN_ROLE_STATUS1}">{SETTINGS_USER_TD_CHAN_ROLE_NAME1}</a></li>
            <li><a href="#" value="{SETTINGS_USER_TD_CHAN_ROLE_STATUS2}">{SETTINGS_USER_TD_CHAN_ROLE_NAME2}</a></li>

        </ul>
    </div>  
</td>