        
<div class="col-sm-8 hide" id="divlistitem5">
    <div class="well">
        <h4 class="margin-t-0">Search</h4>
        <form action="#">
            <div class="input-group">
                <label class="sr-only" for="search-form">Search the site</label>
                <input type="text" class="form-control" id="search-form">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                        <span class="sr-only">Search</span>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <table id="userroletable" class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
{SETTINGS_USER_TR}
        </tbody>
    </table>
</div>