/*
http://www.freshdesignweb.com/beautiful-registration-form-with-html5-and-css3.html
*/

form{
	width:470px; margin:0 auto; padding-left:0px; padding-top:0px;
}
form fieldset {
    font-family: sans-serif;
    /*border: 5px solid darkseagreen;*/
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 17px;
}

fieldset legend {
    background: #21A957;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
    padding: 5px 10px ;
    font-size: 32px;
    border-radius: 5px;
    margin-left: 20px;
}
form p.contact { font-size: 12px; margin:0px 0px 10px 0;line-height: 14px; font-family:Arial, Helvetica;}

form input[type="text"] { width: 400px; }
form input[type="email"] { width: 400px; }
form input[type="password"] { width: 400px; }
form label { color: #000; font-weight:bold;font-size: 12px;font-family:Arial, Helvetica; }
form input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid rgba(122, 192, 0, 0.15); padding: 7px; font-family: Keffeesatz, Arial; color: #4b4b4b; font-size: 14px; -webkit-border-radius: 5px; margin-bottom: 15px; margin-top: -10px; }
form input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }

form .gender {
  width:410px;
  }

form input.button{
	width: 99%;
	padding: 3%;
    margin-top: auto;
	margin-bottom: -2%;
	background: #21A957;
	font-family: 'Open Sans', sans-serif;
	color: #ECECEC;
	box-shadow: inset 0px 0px 10px #666464;
	-webkit-text-shadow: 0px 0px 3px #000;
	-moz-text-shadow: 0px 0px 3px #000;
	-o-text-shadow: 0px 0px 3px #000;
	-ms-text-shadow: 0px 0px 3px #000;
	font-size: 20px;
	outline: none;
	border: none;
	cursor: pointer;
	font-weight:500;
	border-radius: 5px;
	transition: 0.5s;
	-webkit-appearance:none;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}
form input.button:hover{
	background:#128A42;
	color:#fff;
}