<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>Register Form</title>
    <link href="signup.css" rel='stylesheet' type='text/css' />
    <link href="../../jquery/jquery-ui.min.css" rel='stylesheet' type='text/css' />
    <script src="../../jquery/jquery.js"></script>
    <script src="../../jquery/jquery-ui.min.js"></script>
    <script src="dialog.js"></script>
</head>
<body>
    <div id="test">
        <form id="form1" action="get" action="../login/login.html">
             <fieldset>
                <p class="contact"><label for="username">Create a username</label></p> 
                <input id="username" name="username" placeholder="username" required="" tabindex="2" type="text"> 
                <p class="contact"><label for="password">Create a password</label> </p>
                    <input type="password" id="password" name="password" required=""> 
                <p class="contact"><label for="repassword">Confirm password</label> </p>
                    <input type="password" id="repassword" name="repassword" required=""> 
                <p class="contact"><label for="firstname">First Name</label> </p>
                    <input id="name" name="firstname" placeholder="First name" required="" tabindex="1" type="text"> 
                <p class="contact"><label for="lastname">Last Name</label> </p>
                    <input id="name" name="lastname" placeholder="Last name" required="" tabindex="1" type="text"> 
                <p class="contact"><label for="email">Email</label></p>
                    <input id="email" name="email" placeholder="example@domain.com" required="" type="email"> 
                <p class="contact"><label for="gender">Gender</label> </p>
                    <select name="gender" required="">
                        <option value="m">Male</option>
                        <option value="f">Female</option>
                        <option value="others">Other</option>
                    </select></p>
                <p class="contact"><label for="userphoto">Photo Profile</label></p> 
                    <input id="userphoto" name="userphone" placeholder="Photo URL" required="" type="text"><br/>
             </fieldset>
        </form>
    </div>
    
</body>
</html>