<script>
function verify() {
    var username = $("#username");
    var password = $("#password");
            
    $.post("ajax_verify_login.php",
          { "username" : username.val(),
            "password" : password.val() },
           function(data) {
               if (data.hasOwnProperty("url")) {
                   window.location.href = data.url;
               }
               if (data.success) {
                   window.location.href = "index.php";
               } else {
                   $("#error").html(errorOriginHtml + " " + data.message)
                              .removeClass("not-display");
                   $("#alert").click(function() {
                       $("#error").addClass("not-display");
                   });
               }
           },
           "json"
    );
    
    return false;
}

$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip(); 
    $("#loginform").submit(verify);
    errorOriginHtml = $("#error").html();
});
</script>